*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-largest){
        font-size: 45%;
    }
}

:root {
    --main-Color: rgb(125, 146, 150);
    --main-Color-light: rgb(247, 247, 247);;
    --text-Color-dark:  rgb(35, 57, 92);
    --text-Color-light:  rgb(41, 109, 152);
    --box-Shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    --box-Shadow-white:0 1.5rem 4rem rgba(255, 255, 255, 0.4);
}
body{
    background-color: var(--main-Color-light);
    font-family:  'Bebas Neue', cursive;
    line-height: 1.2;
}

@keyframes blur {
    0% {
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    25% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    50% {
        filter: blur(20px);
        -webkit-filter: blur(20px);
    }
    75% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    100% {
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
}

.main{
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 80vh;
}

.bg-video {
    background-color: var(--main-Color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 75%);
    z-index: -1;
    opacity: .9;
    overflow: hidden;
}
.bg-video__content {
    animation: blur 7s infinite;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logo{
    width:  min-content;
    height: min-content;
    position: absolute;
    top: 4vh;
    left: 9vh;
}
h1 {
    font-family: 'Bebas Neue', verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 20px;
}
h2 {
    transform: translateX(-5vw);
}
a {
    text-decoration: none;
}
.btn,
.btn:link,
.btn:visited{
    margin-top: 10vh;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}
.btn-blue{
    font-size: 2rem;
    font-family: 'Bebas Neue',cursive;
    background-color: var(--text-Color-dark);
    color: white;
}
.btn-blue::after{
    background-color:var(--text-Color-light);
    border-radius: 100px;
    color: white;
    opacity: 0;
}
.btn-blue:hover::after{
    opacity: 1;
}
#nav__btn-1 {
    top: 28vh;
    z-index: 9999;
}

#nav__btn-2 {
    top: 36vh;
    z-index: 9999;
}

#nav__btn-3 {
    top: 44vh;
    z-index: 9999;
}

#nav__btn-4 {
    top: 52vh;
    z-index: 9999;
}

 .nav__btn {
    background-color: var(--text-Color-light);
    margin: auto;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 500px;
    height: 6.5vh;
    position: fixed;
    left: -415px;
    box-shadow: 0 1px #fff;
    opacity: .25;
    transition: .7s ease;
}

.nav__btn:hover {
    background-color: var(--text-Color-dark);
    position: fixed;
    opacity: 1;
    left: -50px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px -5px 10px 0 var(--main-Color-light);
    cursor: pointer;
}

 .nav__btn:active{
    background-color: var(--main-Color-light);
    transition: 0s;
    color: #ecf0f1;
}

/* ----------------------------------------------------------------
/* ----------------------------------------------------------------
/* ----------------------------------------------------------------
/* ------------------- POP UP NAVI --------------------------------
/* ----------------------------------------------------------------
/* ----------------------------------------------------------------
/* --------------------------------------------------------------*/


.navigation__checkbox{
    display: none;
}
.navigation__button{
    background-image: radial-gradient(rgba(247, 247, 247, .8), rgba(247, 247, 247, .9)), url(../telephone.jpeg);
    background-size: cover;
    background-position: center;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1004;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
}
.navigation__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(var(--text-Color-light),var(--text-Color-dark));
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
}
.navigation__item{
    margin: 2rem;
}
.navigation__link:link,
.navigation__link:visited{
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var(--main-Color-light);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--main-Color-light) 50%);
    background-size: 250%;
    transition: all .6s;
}
.navigation__link:link > span,
.navigation__link:visited > span {
    margin-right: 1.5rem;
    display: inline-block;
}
.navigation__link:active,
.navigation__link:hover{
    background-position: 100%;
    color: var(--text-Color-dark);
    transform: translateX(1rem);
}



.navigation__checkbox:checked ~ .navigation__background{
    transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav{
    opacity: 1;
    width: 100%;
}
/* ----------------------------------------------------------------
/* ----------------------------------------------------------------
/* --------------------------------------------------------------*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}
.container > * {
    font-family:  'Bebas Neue', cursive !important;
    font-weight: 300;
    color: var(--main-Color-light);
    font-size: 3rem;
    margin-bottom: 2vh;
}
.container > h1 {
    font-size: 30px !important;
}

.examples{
    margin-left: -7vw;
    margin-top: -3vh;
    width: 100vw;
    height: 60vh;
    display: grid;

    grid-template-columns: 10vw [leftside-start] 40vw [leftside-end] [rightside-start] 40vw [rightside-end] 10vw;
    grid-template-rows: repeat(4, [row-start] auto [row-end]);
    grid-gap: 1rem;
}
.examples__title{
    grid-column: leftside-start / rightside-end;
    grid-row: row-start 1 / row-end 1;
    margin: -20vh 0 0 -10vw;

    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    display: inline-block;
    font-size: 4rem;
    font-weight: 300;
    font-family:  'Bebas Neue', cursive;
    background-image: linear-gradient(to right, var(--text-Color-light), var(--text-Color-dark));
    color: transparent;
    transition: all .3s;
    letter-spacing: 2px;
}
.examples__title:hover{
    transform: skewY(2deg) skewX(11deg) scale(1.13);
}
.examples__text{
    width: 50%;
    margin: -15vh auto 0 auto;
    height: min-content;
    grid-row: row-start 2 / row-end 4;
}
.examples__bold{
    webkit-background-clip: text;
    background-clip: text;
    font-family:  'Bebas Neue', cursive;
    font-size: 2.8rem;
    background-image: linear-gradient(to right, var(--text-Color-light), var(--text-Color-dark));
    color: transparent;
    margin-bottom: 5vh;
}
.examples__paragraph{
    font-family:  'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 1.7rem;
    margin-bottom: 3vh;
}
.examples__gallery{
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: min-content;
    grid-row: row-start 2 / row-end 4;
}
.examples__gallery-slideInRight{
    transform: translateX(120%) scale(0.93);
}
.examples__gallery-slideInLeft{
    transform: translateX(-120%) scale(0.93);
}
.slide-in{
    opacity: 0;
    transition: all .7s;
}
.slide-in-active{
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.examples__gallery-picture{
    position: absolute;
    width: 250px;
    height: 200px;
    border-radius: 2px;
    box-shadow: var(--box-Shadow);
    z-index: 10;
    transition: all .3s;
    outline-offset: 1.3rem;
}
.examples__gallery-picture:hover{
    outline: 1.3rem solid var(--text-Color-dark);
    transform: scale(1.13), translateY(.5rem);
    box-shadow: 0 2.5rem 4rem rgba(var(--text-Color-light), .4);
    z-index: 20;
}
.examples:hover .examples__gallery-picture:not(:hover){
    transform: scale(.85);
}
.examples__gallery-picture-1{
    top: 0;
    left: -12vw;
}
.examples__gallery-picture-2{
    top: 7vh;
    left: 0;
}
.examples__gallery-picture-3{
    top: 14vh;
    left: -8vw
}
.services{
    background-image: linear-gradient(to right bottom, rgba(41, 109, 152, 0.8), rgba(35, 57, 92, 0.8)), url(https://image.freepik.com/free-photo/high-angle-view-various-worktools-wooden-background_23-2147865401.jpg);/*linear-gradient(to right bottom, rgba(var(--text-Color-light), 0.75), rgba(var(--text-Color-dark), 0.75));*/
    background-size: cover;
    clip-path: polygon(0 0, 100% 25%, 100% 96%, 0 75%);
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 10vw repeat(4, [col-start] minmax(200px, 1fr) [col-end]) 10vw;
    grid-template-rows: 22% [row-start] auto [row-end] 22%;
    grid-gap: 2rem;
}
.services__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--main-Color-light) .8);
    box-shadow: var(--box-Shadow-white);
    border-radius: 5px;
    will-change: transform;
    transition: all .5s;
}
.services__info:hover{
    transform: translateY(-2vh) scale(1.05)
}
.services__info-1{
    grid-row: row-start / row-end;
    grid-column: col-start 1 / col-end 1;
}
.services__info-2{
    grid-row: row-start / row-end;
    grid-column: col-start 2 / col-end 2;
}
.services__info-3{
    grid-row: row-start / row-end;
    grid-column: col-start 3 / col-end 3;
}
.services__info-4{
    grid-row: row-start / row-end;
    grid-column: col-start 4 / col-end 4;
}
.services__header{
    padding-top: 5vh;
    font-size: 3rem;
    font-family: inherit;
    color: var(--main-Color-dark);
    border-radius: 5px;
}
.services__ul {
    list-style-type: none;
    text-decoration: none;
}
.services__ul > * {
    font-size: 2.2rem;
    color: var(--main-Color-light);
    text-align: center;
    margin-bottom: 3rem;
}
.services__ul > *:first-child {
    margin-top: 8rem;
}
.comments{
    margin-top: 15vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments__comment{
    display: flex;
    width: 60%;
    margin: 3rem auto;
    box-shadow: var(--box-Shadow);
    background-color: var(--text-Color-dark);
    border-radius: 3px;
    padding: 5rem;
    padding-left: 8rem;
    transform: skewX(-12deg);
}
.comments__shape{
    position: relative;
}
.comments__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: skewX(12deg);
    backface-visibility: hidden;
}
.comments__caption{
    position: absolute;
    transform: translate(-50%, 20%);
    color: #000;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}
.comments__comment:hover .comments__caption{
    opacity: 1;
    transform: translate(30%, -20%);
}
.comments__text{
    margin: 0 auto;
    box-shadow: var(--box-Shadow-white);
    width:500px;
    height:130px;
}
.comments__header{
    transform: skewX(12deg);
    text-align: center;
    font-size: 2.5rem;
    color: var(--main-Color);
    margin-top: 10px;
    margin-bottom: 10px;
}
.comments__paragraph{
    margin: 0 10px;
    color: #fff;
    font-size: 1.5rem;
}
.message{
    margin: 10vh 0;
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(to right bottom, rgba(35, 57, 92, 0.8), rgba(35, 57, 92, 0.9)), url(../background_send.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 25%, 100% 96%, 0 75%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.examples__title-white{
    margin:5vh 0 0 25vw;
    background-image: linear-gradient(to right, var(--main-Color-light), var(--main-Color)) !important;
}

/* ----------------------------------------------------------------
-------------------------------------------------------------------
---------------------- TEST ------------------------------------- */

.margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.title {
	background-color:transparent;
	border-bottom:3px solid #FFF;
	color:#FFF;
	font-size:20px;
	font-family:Courier, monospace;
	height:28px;
	font-weight:bold;
	width:220px;
}
#paper {
	color:#FFF;
	font-size:20px;
}
#text {
	width:500px;
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:24px;
	resize:none;
	line-height:40px;
	padding-left:100px;
	padding-right:100px;
	padding-top:45px;
	padding-bottom:34px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: var(--box-Shadow-white);
	box-shadow: var(--box-Shadow-white);;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
#button {
	cursor:pointer;
	margin-top:20px;
	float:right;
	height:40px;
	padding-left:24px;
	padding-right:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	color:#FFF;
	text-shadow: 0px -1px 0px #000000;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-top:1px solid #FFF;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	background-color: #62add6;
	background-image:url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
	background-repeat:repeat-x;
}
#button:active {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#button:focus {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#wrapper {
	width:700px;
	height:auto;
	margin-left:auto;
	margin-right:10vw;
	margin-top:20vh;
	margin-bottom:100px;
}

.footer{
    width:100vw;
    height: 50vh;
    background-image: url(../footer__BG-2.png);
    background-size: cover;
}
@media screen and (max-width:768px) {
    .navigation__button{
    height: 12rem;
    width: 12rem;
    top: 10rem;
    right: 10rem;
    }
    .navigation__background{
    height: 11rem;
    width: 11rem;
    top: 10rem;
    right: 10rem;
    }
    .bg-video {
        clip-path: polygon(0 0, 100% 0, 100% 76%, 0 65%);
    }
    .examples{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .examples__title{ order: 0;}
    .examples__gallery{ order: 1;}
    .examples__text{ order: 2;}
    .examples__bold{ font-size: 4.2rem;}
    .examples__paragraph{ font-size: 2.7rem;}
    .btn, .btn:link, .btn:visited { padding: 2.4rem 4rem;}
    .btn-blue{ font-size: 3.5rem;}
}
